[build]
  base = "frontend"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_URL = "https://inventory-management-system-xyg3.onrender.com"
  CI = "true"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
